{% extends 'website/modelo.html' %}

{% block title %}
  Curso
{% endblock %}

{% block conteudo %}
  <div class="row justify-content-center">
    <div class="col-md-8">
      <div class="card shadow-sm border-0">
        <div class="card-body p-4">
          <h2 class="mb-4">
            {% if curso %}
              ✏️ Editar Curso
            {% else %}
              ➕ Novo Curso
            {% endif %}
          </h2>

          <form method="POST">
            {% csrf_token %}

            <div class="mb-3">
              <label class="form-label">Nome</label>

              <input type="text" name="nome" class="form-control" value="{{ curso.nome|default:'' }}" required />
            </div>

            <div class="mb-4">
              <label class="form-label">Descrição</label>

              <textarea name="descricao" class="form-control" rows="4" required>{{ curso.descricao|default:'' }}</textarea>
            </div>

            <div class="d-flex gap-2">
              <button class="btn btn-success">Salvar</button>

              <a href="{% url 'lista_cursos' %}" class="btn btn-secondary">Voltar</a>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}