{% extends 'website/modelo.html' %}

{% block title %}
  Curso
{% endblock %}

{% block conteudo %}
  <h2 class="mb-4">
    {% if curso %}
      Editar
    {% else %}
      Novo
    {% endif %}Curso
  </h2>

  <form method="POST">
    {% csrf_token %}

    <div class="mb-3">
      <label>Nome</label>
      <input type="text" name="nome" class="form-control" value="{{ curso.nome|default:'' }}" />
    </div>

    <div class="mb-3">
      <label>Descrição</label>
      <textarea name="descricao" class="form-control">{{ curso.descricao|default:'' }}</textarea>
    </div>

    <button class="btn btn-success">Salvar</button>
    <a href="{% url 'lista_cursos' %}" class="btn btn-secondary">Voltar</a>
  </form>
{% endblock %}