{% extends "website/modelo.html" %}

{% block title %}Home{% endblock %}

{% block hero %}
<section class="hero text-center">
    <div class="container">
        <h1 class="display-4 fw-bold">Sistema de Cursos</h1>
        <p class="lead">Gerencie alunos, cursos e matrículas</p>
    </div>
</section>
{% endblock %}

{% block conteudo %}

<div class="row text-center">

    <div class="col-md-4">
        <div class="card p-4">
            <h5>📘 Cursos</h5>
            <p>Gerencie cursos cadastrados</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-4">
            <h5>👨‍🎓 Alunos</h5>
            <p>Controle alunos</p>
        </div>
    </div>

    <div class="col-md-4">
        <div class="card p-4">
            <h5>📝 Matrículas</h5>
            <p>Relacione alunos e cursos</p>
        </div>
    </div>

</div>

{% endblock %}